<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="themepaa">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Rachel - Portfolio Template">
    <meta name="description" content="Rachel - Portfolio Template">
    <!-- title -->
    <title>Rachel - Portfolio Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- plugin CSS -->
    <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/plugin/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="static/plugin/et-line/style.css" rel="stylesheet">
    <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <link href="static/plugin/ytplayer/css/jquery.mb.YTPlayer.min.css" rel="stylesheet">
    <link href="static/plugin/scroll/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <!-- theme css -->
    <link href="static/style/master.css" rel="stylesheet">
</head>
<!-- Body Start -->

<body data-spy="scroll" data-target="#navbar-collapse-toggle" data-offset="70">
    <!-- page loading -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <header>
        <nav class="navbar header-nav header-white header-transparent navbar-expand-lg header-border">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand" href="#">Rachel <span></span></a>
                <!-- / -->
                <!-- Mobile Toggle -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-toggle" aria-controls="navbar-collapse-toggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- / -->
                <!-- Top Menu -->
                <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse-toggle">
                    <ul class="navbar-nav ml-auto">
                        <li><a class="nav-link active" href="index.html#home">Home</a></li>
                        <li><a class="nav-link" href="index.html#about">About Us</a></li>
                        <li><a class="nav-link" href="index.html#services">Services</a></li>
                        <li><a class="nav-link" href="index.html#work">Portfolio</a></li>
                        <li><a class="nav-link" href="index.html#blog">Blog</a></li>
                        <li><a class="nav-link" href="index.html#contactus">Contact</a></li>
                    </ul>
                </div>
                <!-- / -->
            </div><!-- Container -->
        </nav> <!-- Navbar -->
    </header>
    <!-- Main -->
    <main>
        <!-- Home Banner -->
        <section class="page-title dark-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 white-color text-center">
                        <h1>Blog List</h1>
                        <ol class="breadcrumb white justify-content-center">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Blog List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home Banner -->
        <!-- Blog List -->
        <section class="blog-listing gray-bg">
            <div class="container">
                <div class="row align-items-start">
                    <div class="col-lg-8 m-15px-tb">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="blog-grid">
                                    <div class="blog-img">
                                        <div class="date">
                                            <span>04</span>
                                            <label>FEB</label>
                                        </div>
                                        <a href="blog-single.html">
                                            <img src="static/img/blog-1.jpg" title="" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-info">
                                        <h5><a href="blog-single.html">Prevent 75% of visitors from google analytics</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="btn-bar">
                                            <a href="blog-single.html" class="px-btn-arrow">
                                                <span>Read More</span>
                                                <i class="arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="blog-grid">
                                    <div class="blog-img">
                                        <div class="date">
                                            <span>04</span>
                                            <label>FEB</label>
                                        </div>
                                        <a href="blog-single.html">
                                            <img src="static/img/blog-1.jpg" title="" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-info">
                                        <h5><a href="blog-single.html">Prevent 75% of visitors from google analytics</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="btn-bar">
                                            <a href="blog-single.html" class="px-btn-arrow">
                                                <span>Read More</span>
                                                <i class="arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="blog-grid">
                                    <div class="blog-img">
                                        <div class="date">
                                            <span>04</span>
                                            <label>FEB</label>
                                        </div>
                                        <a href="blog-single.html">
                                            <img src="static/img/blog-1.jpg" title="" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-info">
                                        <h5><a href="blog-single.html">Prevent 75% of visitors from google analytics</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="btn-bar">
                                            <a href="blog-single.html" class="px-btn-arrow">
                                                <span>Read More</span>
                                                <i class="arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="blog-grid">
                                    <div class="blog-img">
                                        <div class="date">
                                            <span>04</span>
                                            <label>FEB</label>
                                        </div>
                                        <a href="blog-single.html">
                                            <img src="static/img/blog-1.jpg" title="" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-info">
                                        <h5><a href="blog-single.html">Prevent 75% of visitors from google analytics</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="btn-bar">
                                            <a href="blog-single.html" class="px-btn-arrow">
                                                <span>Read More</span>
                                                <i class="arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="blog-grid">
                                    <div class="blog-img">
                                        <div class="date">
                                            <span>04</span>
                                            <label>FEB</label>
                                        </div>
                                        <a href="blog-single.html">
                                            <img src="static/img/blog-1.jpg" title="" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-info">
                                        <h5><a href="blog-single.html">Prevent 75% of visitors from google analytics</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="btn-bar">
                                            <a href="blog-single.html" class="px-btn-arrow">
                                                <span>Read More</span>
                                                <i class="arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="blog-grid">
                                    <div class="blog-img">
                                        <div class="date">
                                            <span>04</span>
                                            <label>FEB</label>
                                        </div>
                                        <a href="blog-single.html">
                                            <img src="static/img/blog-1.jpg" title="" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-info">
                                        <h5><a href="blog-single.html">Prevent 75% of visitors from google analytics</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="btn-bar">
                                            <a href="blog-single.html" class="px-btn-arrow">
                                                <span>Read More</span>
                                                <i class="arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 m-15px-tb blog-aside">
                        <!-- Author -->
                        <div class="widget widget-author">
                            <div class="widget-title">
                                <h3>Author</h3>
                            </div>
                            <div class="widget-body">
                                <div class="media align-items-center">
                                    <div class="avatar">
                                        <img src="static/img/avatra-1.jpg" title="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h6>Hello, I'm<br/> Rachel Roth</h6>
                                    </div>
                                </div>
                                <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores</p>
                            </div>
                        </div>
                        <!-- End Author -->

                        <!-- Trending Post -->
                        <div class="widget widget-post">
                            <div class="widget-title">
                                <h3>Trending Now</h3>
                            </div>
                            <div class="widget-body">
                                <div class="owl-carousel" data-items="1" data-nav-dots="true" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="30">
                                    <div class="post-aside">
                                        <div class="post-aside-title">
                                            <h5><a href="blog-single.html">Prevent 75% of visitors from google analytics</a></h5>
                                        </div>
                                        <div class="post-aside-meta">
                                            <a class="name" href="blog-single.html">
                                                Rachel Roth
                                            </a>
                                            <a class="date" href="blog-single.html">
                                                26 FEB 2020
                                            </a>
                                        </div>
                                        <div class="post-aside-img">
                                            <a href="blog-single.html">
                                                <img src="static/img/blog-1.jpg" title="" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-aside">
                                        <div class="post-aside-title">
                                            <h5><a href="blog-single.html">Prevent 75% of visitors from google analytics</a></h5>
                                        </div>
                                        <div class="post-aside-meta">
                                            <a class="name" href="blog-single.html">
                                                Rachel Roth
                                            </a>
                                            <a class="date" href="blog-single.html">
                                                26 FEB 2020
                                            </a>
                                        </div>
                                        <div class="post-aside-img">
                                            <a href="blog-single.html">
                                                <img src="static/img/blog-1.jpg" title="" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-aside">
                                        <div class="post-aside-title">
                                            <h5><a href="blog-single.html">Prevent 75% of visitors from google analytics</a></h5>
                                        </div>
                                        <div class="post-aside-meta">
                                            <a class="name" href="blog-single.html">
                                                Rachel Roth
                                            </a>
                                            <a class="date" href="blog-single.html">
                                                26 FEB 2020
                                            </a>
                                        </div>
                                        <div class="post-aside-img">
                                            <a href="blog-single.html">
                                                <img src="static/img/blog-1.jpg" title="" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Trending Post -->

                        <!-- Latest Post -->
                        <div class="widget widget-latest-post">
                            <div class="widget-title">
                                <h3>Latest Post</h3>
                            </div>
                            <div class="widget-body">
                                <div class="latest-post-aside media">
                                    <div class="lpa-left media-body">
                                        <div class="lpa-title">
                                            <h5><a href="blog-single.html">Prevent 75% of visitors from google analytics</a></h5>
                                        </div>
                                        <div class="lpa-meta">
                                            <a class="name" href="blog-single.html">
                                                Rachel Roth
                                            </a>
                                            <a class="date" href="blog-single.html">
                                                26 FEB 2020
                                            </a>
                                        </div>
                                    </div>
                                    <div class="lpa-right">
                                        <a href="blog-single.html">
                                            <img src="static/img/blog-1.jpg" title="" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="latest-post-aside media">
                                    <div class="lpa-left media-body">
                                        <div class="lpa-title">
                                            <h5><a href="blog-single.html">Prevent 75% of visitors from google analytics</a></h5>
                                        </div>
                                        <div class="lpa-meta">
                                            <a class="name" href="blog-single.html">
                                                Rachel Roth
                                            </a>
                                            <a class="date" href="blog-single.html">
                                                26 FEB 2020
                                            </a>
                                        </div>
                                    </div>
                                    <div class="lpa-right">
                                        <a href="blog-single.html">
                                            <img src="static/img/blog-1.jpg" title="" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="latest-post-aside media">
                                    <div class="lpa-left media-body">
                                        <div class="lpa-title">
                                            <h5><a href="blog-single.html">Prevent 75% of visitors from google analytics</a></h5>
                                        </div>
                                        <div class="lpa-meta">
                                            <a class="name" href="blog-single.html">
                                                Rachel Roth
                                            </a>
                                            <a class="date" href="blog-single.html">
                                                26 FEB 2020
                                            </a>
                                        </div>
                                    </div>
                                    <div class="lpa-right">
                                        <a href="blog-single.html">
                                            <img src="static/img/blog-1.jpg" title="" alt="">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End Latest Post -->

                        <!-- widget Tags -->
                        <div class="widget widget-tags">
                            <div class="widget-title">
                                <h3>Latest Tags</h3>
                            </div>
                            <div class="widget-body">
                                <div class="nav tag-cloud">
                                    <a href="#">Design</a>
                                    <a href="#">Development</a>
                                    <a href="#">Travel</a>
                                    <a href="#">Web Design</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Research</a>
                                    <a href="#">Managment</a>
                                </div>
                            </div>
                        </div>
                        <!-- End widget Tags -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog List -->
    </main>
    <!-- main end -->
    <!-- Footer-->
    <footer class="footer white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 m-10px-tb">
                    <div class="nav justify-content-center justify-content-md-start">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>
                <div class="col-md-6 m-10px-tb text-center text-md-right">
                    <p>© 2020 copyright all right reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer End -->
    <!-- jquery -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/jquery-migrate-3.0.0.min.js"></script>
    <!-- end jquery -->
    <!-- appear -->
    <script src="static/plugin/appear/jquery.appear.js"></script>
    <!-- end appear -->
    <!--bootstrap-->
    <script src="static/plugin/bootstrap/js/popper.min.js"></script>
    <script src="static/plugin/bootstrap/js/bootstrap.js"></script>
    <!--end bootstrap-->
    <!-- End -->
    <!-- custom js -->
    <script src="static/js/custom.js"></script>
    <!-- end -->
</body>

</html>